In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 200)
pd.set_option('display.max_colwidth', None)

In [2]:
prev_df = pd.read_csv('previous_application.csv')
curr_df = pd.read_csv('application_data.csv')

In [3]:
curr_cat_cols = ['TARGET'] + sorted(curr_df.select_dtypes(include=['object']).columns.tolist())

for col in curr_cat_cols:
    print(f"\nValue Counts for '{col}':")
    print(curr_df[col].value_counts())
    print(f"\n{'-'*30}")

Value Counts for 'TARGET':
TARGET
0    282686
1     24825
Name: count, dtype: int64

------------------------------

Value Counts for 'CODE_GENDER':
CODE_GENDER
F      202448
M      105059
XNA         4
Name: count, dtype: int64

------------------------------

Value Counts for 'EMERGENCYSTATE_MODE':
EMERGENCYSTATE_MODE
No     159428
Yes      2328
Name: count, dtype: int64

------------------------------

Value Counts for 'FLAG_OWN_CAR':
FLAG_OWN_CAR
N    202924
Y    104587
Name: count, dtype: int64

------------------------------

Value Counts for 'FLAG_OWN_REALTY':
FLAG_OWN_REALTY
Y    213312
N     94199
Name: count, dtype: int64

------------------------------

Value Counts for 'FONDKAPREMONT_MODE':
FONDKAPREMONT_MODE
reg oper account         73830
reg oper spec account    12080
not specified             5687
org spec account          5619
Name: count, dtype: int64

------------------------------

Value Counts for 'HOUSETYPE_MODE':
HOUSETYPE_MODE
block of flats      150503
specific housing      1499
terraced house        1212
Name: count, dtype: int64

------------------------------

Value Counts for 'NAME_CONTRACT_TYPE':
NAME_CONTRACT_TYPE
Cash loans         278232
Revolving loans     29279
Name: count, dtype: int64

------------------------------

Value Counts for 'NAME_EDUCATION_TYPE':
NAME_EDUCATION_TYPE
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: count, dtype: int64

------------------------------

Value Counts for 'NAME_FAMILY_STATUS':
NAME_FAMILY_STATUS
Married                 196432
Single / not married     45444
Civil marriage           29775
Separated                19770
Widow                    16088
Unknown                      2
Name: count, dtype: int64

------------------------------

Value Counts for 'NAME_HOUSING_TYPE':
NAME_HOUSING_TYPE
House / apartment      272868
With parents            14840
Municipal apartment     11183
Rented apartment         4881
Office apartment         2617
Co-op apartment          1122
Name: count, dtype: int64

------------------------------

Value Counts for 'NAME_INCOME_TYPE':
NAME_INCOME_TYPE
Working                 158774
Commercial associate     71617
Pensioner                55362
State servant            21703
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: count, dtype: int64

------------------------------

Value Counts for 'NAME_TYPE_SUITE':
NAME_TYPE_SUITE
Unaccompanied      248526
Family              40149
Spouse, partner     11370
Children             3267
Other_B              1770
Other_A               866
Group of people       271
Name: count, dtype: int64

------------------------------

Value Counts for 'OCCUPATION_TYPE':
OCCUPATION_TYPE
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: count, dtype: int64

------------------------------

Value Counts for 'ORGANIZATION_TYPE':
ORGANIZATION_TYPE
Business Entity Type 3    67992
XNA                       55374
Self-employed             38412
Other                     16683
Medicine                  11193
Business Entity Type 2    10553
Government                10404
School                     8893
Trade: type 7              7831
Kindergarten               6880
Construction               6721
Business Entity Type 1     5984
Transport: type 4          5398
Trade: type 3              3492
Industry: type 9           3368
Industry: type 3           3278
Security                   3247
Housing                    2958
Industry: type 11          2704
Military                   2634
Bank                       2507
Agriculture                2454
Police                     2341
Transport: type 2          2204
Postal                     2157
Security Ministries        1974
Trade: type 2              1900
Restaurant                 1811
Services                   1575
University                 1327
Industry: type 7           1307
Transport: type 3          1187
Industry: type 1           1039
Hotel                       966
Electricity                 950
Industry: type 4            877
Trade: type 6               631
Industry: type 5            599
Insurance                   597
Telecom                     577
Emergency                   560
Industry: type 2            458
Advertising                 429
Realtor                     396
Culture                     379
Industry: type 12           369
Trade: type 1               348
Mobile                      317
Legal Services              305
Cleaning                    260
Transport: type 1           201
Industry: type 6            112
Industry: type 10           109
Religion                     85
Industry: type 13            67
Trade: type 4                64
Trade: type 5                49
Industry: type 8             24
Name: count, dtype: int64

------------------------------

Value Counts for 'WALLSMATERIAL_MODE':
WALLSMATERIAL_MODE
Panel           66040
Stone, brick    64815
Block            9253
Wooden           5362
Mixed            2296
Monolithic       1779
Others           1625
Name: count, dtype: int64

------------------------------

Value Counts for 'WEEKDAY_APPR_PROCESS_START':
WEEKDAY_APPR_PROCESS_START
TUESDAY      53901
WEDNESDAY    51934
MONDAY       50714
THURSDAY     50591
FRIDAY       50338
SATURDAY     33852
SUNDAY       16181
Name: count, dtype: int64

------------------------------

In [4]:
prev_cat_list = sorted(prev_df.select_dtypes(include=['object']).columns.tolist())

for col in prev_cat_list:
    print(f"Value Counts for '{col}':")
    print(prev_df[col].value_counts())
    print(f"{'-'*30}\n")

Value Counts for 'CHANNEL_TYPE':
CHANNEL_TYPE
Credit and cash offices       719968
Country-wide                  494690
Stone                         212083
Regional / Local              108528
Contact center                 71297
AP+ (Cash loan)                57046
Channel of corporate sales      6150
Car dealer                       452
Name: count, dtype: int64
------------------------------

Value Counts for 'CODE_REJECT_REASON':
CODE_REJECT_REASON
XAP       1353093
HC         175231
LIMIT       55680
SCO         37467
CLIENT      26436
SCOFR       12811
XNA          5244
VERIF        3535
SYSTEM        717
Name: count, dtype: int64
------------------------------

Value Counts for 'FLAG_LAST_APPL_PER_CONTRACT':
FLAG_LAST_APPL_PER_CONTRACT
Y    1661739
N       8475
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_CASH_LOAN_PURPOSE':
NAME_CASH_LOAN_PURPOSE
XAP                                 922661
XNA                                 677918
Repairs                              23765
Other                                15608
Urgent needs                          8412
Buying a used car                     2888
Building a house or an annex          2693
Everyday expenses                     2416
Medicine                              2174
Payments on other loans               1931
Education                             1573
Journey                               1239
Purchase of electronic equipment      1061
Buying a new car                      1012
Wedding / gift / holiday               962
Buying a home                          865
Car repairs                            797
Furniture                              749
Buying a holiday home / land           533
Business development                   426
Gasification / water supply            300
Buying a garage                        136
Hobby                                   55
Money for a third person                25
Refusal to name the goal                15
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_CLIENT_TYPE':
NAME_CLIENT_TYPE
Repeater     1231261
New           301363
Refreshed     135649
XNA             1941
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_CONTRACT_STATUS':
NAME_CONTRACT_STATUS
Approved        1036781
Canceled         316319
Refused          290678
Unused offer      26436
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_CONTRACT_TYPE':
NAME_CONTRACT_TYPE
Cash loans         747553
Consumer loans     729151
Revolving loans    193164
XNA                   346
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_GOODS_CATEGORY':
NAME_GOODS_CATEGORY
XNA                         950809
Mobile                      224708
Consumer Electronics        121576
Computers                   105769
Audio/Video                  99441
Furniture                    53656
Photo / Cinema Equipment     25021
Construction Materials       24995
Clothing and Accessories     23554
Auto Accessories              7381
Jewelry                       6290
Homewares                     5023
Medical Supplies              3843
Vehicles                      3370
Sport and Leisure             2981
Gardening                     2668
Other                         2554
Office Appliances             2333
Tourism                       1659
Medicine                      1550
Direct Sales                   446
Fitness                        209
Additional Service             128
Education                      107
Weapon                          77
Insurance                       64
Animals                          1
House Construction               1
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_PAYMENT_TYPE':
NAME_PAYMENT_TYPE
Cash through the bank                        1033552
XNA                                           627384
Non-cash from your account                      8193
Cashless from the account of the employer       1085
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_PORTFOLIO':
NAME_PORTFOLIO
POS      691011
Cash     461563
XNA      372230
Cards    144985
Cars        425
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_PRODUCT_TYPE':
NAME_PRODUCT_TYPE
XNA        1063666
x-sell      456287
walk-in     150261
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_SELLER_INDUSTRY':
NAME_SELLER_INDUSTRY
XNA                     855720
Consumer electronics    398265
Connectivity            276029
Furniture                57849
Construction             29781
Clothing                 23949
Industry                 19194
Auto technology           4990
Jewelry                   2709
MLM partners              1215
Tourism                    513
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_TYPE_SUITE':
NAME_TYPE_SUITE
Unaccompanied      508970
Family             213263
Spouse, partner     67069
Children            31566
Other_B             17624
Other_A              9077
Group of people      2240
Name: count, dtype: int64
------------------------------

Value Counts for 'NAME_YIELD_GROUP':
NAME_YIELD_GROUP
XNA           517215
middle        385532
high          353331
low_normal    322095
low_action     92041
Name: count, dtype: int64
------------------------------

Value Counts for 'PRODUCT_COMBINATION':
PRODUCT_COMBINATION
Cash                              285990
POS household with interest       263622
POS mobile with interest          220670
Cash X-Sell: middle               143883
Cash X-Sell: low                  130248
Card Street                       112582
POS industry with interest         98833
POS household without interest     82908
Card X-Sell                        80582
Cash Street: high                  59639
Cash X-Sell: high                  59301
Cash Street: middle                34658
Cash Street: low                   33834
POS mobile without interest        24082
POS other with interest            23879
POS industry without interest      12602
POS others without interest         2555
Name: count, dtype: int64
------------------------------

Value Counts for 'WEEKDAY_APPR_PROCESS_START':
WEEKDAY_APPR_PROCESS_START
TUESDAY      255118
WEDNESDAY    255010
MONDAY       253557
FRIDAY       252048
THURSDAY     249099
SATURDAY     240631
SUNDAY       164751
Name: count, dtype: int64
------------------------------

Cars & Cards are supposed to be the same thing in NAME_PORTFOLIO

In [5]:
prev_df['NAME_PORTFOLIO'].value_counts(dropna=False)

NAME_PORTFOLIO
POS      691011
Cash     461563
XNA      372230
Cards    144985
Cars        425
Name: count, dtype: int64

In [6]:
prev_df['NAME_PORTFOLIO'] = prev_df['NAME_PORTFOLIO'].replace('Cars', 'Cards')
prev_df['NAME_PORTFOLIO'].unique()

array(['POS', 'Cash', 'XNA', 'Cards'], dtype=object)

In [7]:
# filter 'DAYS' columns
curr_df_days = [col for col in curr_df.columns if col.startswith('DAYS')]  # list of 'DAYS' cols 
curr_df[curr_df_days].head(100)

,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,DAYS_LAST_PHONE_CHANGE
0,-9461,-637,-3648.0,-2120,-1134.0
1,-16765,-1188,-1186.0,-291,-828.0
2,-19046,-225,-4260.0,-2531,-815.0
3,-19005,-3039,-9833.0,-2437,-617.0
4,-19932,-3038,-4311.0,-3458,-1106.0
5,-16941,-1588,-4970.0,-477,-2536.0
6,-13778,-3130,-1213.0,-619,-1562.0
7,-18850,-449,-4597.0,-2379,-1070.0
8,-20099,365243,-7427.0,-3514,0.0
9,-14469,-2019,-14437.0,-3992,-1673.0
10,-10197,-679,-4427.0,-738,-844.0
11,-20417,365243,-5246.0,-2512,-2396.0
12,-13439,-2717,-311.0,-3227,-2370.0
13,-14086,-3028,-643.0,-4911,-4.0
14,-14583,-203,-615.0,-2056,-188.0
15,-8728,-1157,-3494.0,-1368,-925.0
16,-12931,-1317,-6392.0,-3866,-3.0
17,-9776,-191,-4143.0,-2427,-2811.0
18,-17718,-7804,-8751.0,-1259,-239.0
19,-11348,-2038,-1021.0,-3964,-1850.0
20,-18252,-4286,-298.0,-1800,-296.0
21,-14815,-1652,-2299.0,-2299,0.0
22,-11146,-4306,-114.0,-2518,-468.0
23,-24827,365243,-9012.0,-3684,-795.0
24,-11286,-746,-108.0,-3729,-4.0
25,-19334,-3494,-2419.0,-2893,0.0
26,-18724,-2628,-6573.0,-1827,-161.0
27,-15948,-1234,-5782.0,-3153,-2.0
28,-9994,-1796,-4668.0,-2661,-849.0
29,-10341,-1010,-4799.0,-3015,-599.0
30,-15280,-2668,-5266.0,-3787,-1634.0
31,-11144,-1104,-7846.0,-2904,-397.0
32,-12974,-4404,-7123.0,-4464,-2766.0
33,-11694,-2060,-3557.0,-3557,-697.0
34,-15997,-4585,-5735.0,-4067,-3019.0
35,-12158,-1275,-6265.0,-2009,-1285.0
36,-17199,-768,-63.0,-735,-2411.0
37,-21077,-1288,-5474.0,-4270,-1541.0
38,-23920,365243,-9817.0,-4969,0.0
39,-16126,-1761,-8236.0,-4292,-540.0
40,-17482,-1262,-1182.0,-1029,-1075.0
41,-16971,-475,-3148.0,-513,-458.0
42,-13384,-3597,-45.0,-4409,-1480.0
43,-23548,365243,-5745.0,-4576,-491.0
44,-9827,-758,-4166.0,-2380,-556.0
45,-7974,-895,-6591.0,-642,-462.0
46,-20373,365243,-7760.0,-1993,-649.0
47,-20121,-5332,-9197.0,-3283,-1247.0
48,-19727,-4411,-6225.0,-3199,-784.0
49,-18264,-9523,-5504.0,-1797,-1498.0
50,-12406,-1176,-1149.0,-2576,0.0
51,-18632,-6977,-3904.0,-1937,-1285.0
52,-12282,-778,-1824.0,-1992,-466.0
53,-10473,-1392,-2025.0,-1240,-570.0
54,-18611,365243,-6936.0,-2142,-462.0
55,-12955,-4106,-7054.0,-5164,-1547.0
56,-21621,365243,-2019.0,-1344,0.0
57,-18248,-2351,-4375.0,-1721,-167.0
58,-14186,-1743,-2128.0,-4982,-112.0
59,-20544,-2091,-6846.0,-566,-1377.0
60,-20121,-2446,-6755.0,-2177,-1572.0
61,-7907,-1324,-4557.0,-586,-725.0
62,-22843,365243,-1042.0,-3967,-2385.0
63,-12240,-3720,-5246.0,-4541,-280.0
64,-13866,-2546,-5448.0,-4097,-3.0
65,-12049,-579,-6105.0,-1,-295.0
66,-19550,-4856,-6836.0,-3084,-1594.0
67,-15359,-114,-5076.0,-2922,-662.0
68,-11956,-3154,-8118.0,-4143,-1711.0
69,-10848,-121,-4809.0,-3494,-2519.0
70,-12009,-2844,-1377.0,-3656,-1003.0
71,-15406,-892,-341.0,-4176,-2053.0
72,-14860,-1156,-23.0,-1072,-1475.0
73,-11187,-2224,-3253.0,-3723,-1175.0
74,-14264,-2492,-4327.0,-4517,-1597.0
75,-17542,-2011,-1529.0,-988,-1230.0
76,-19467,-4066,-4623.0,-2975,-1537.0
77,-9666,-2811,-4437.0,-2342,-92.0
78,-18253,-721,-1701.0,-1779,0.0
79,-22935,365243,-12623.0,-3442,-260.0
80,-18693,-1434,-10255.0,-2241,-1040.0
81,-24794,365243,-5391.0,-4199,0.0
82,-17527,-2442,-3500.0,-983,-371.0
83,-17390,-924,-7211.0,-907,-617.0
84,-23032,365243,-9506.0,-793,0.0
85,-15909,-1094,-3134.0,-4180,-1876.0
86,-18138,-969,-7421.0,-1681,-1585.0
87,-14321,-192,-6913.0,-5942,-2.0
88,-21112,-1694,-6057.0,-4013,0.0
89,-18556,-862,-6769.0,-2045,-2591.0
90,-19810,-8862,-4493.0,-3043,-1733.0
91,-12780,-1415,-5146.0,-870,-546.0
92,-10744,-741,-442.0,-2381,0.0
93,-10485,-1249,-4628.0,-3110,-1234.0
94,-10199,-2015,-4802.0,-1038,-591.0
95,-15137,-7980,-9176.0,-4576,-1981.0
96,-10734,-693,-7913.0,-1362,-227.0
97,-15371,-367,-3071.0,-4211,-40.0
98,-14751,-6737,-3390.0,-4788,-1083.0
99,-22471,365243,-217.0,-4323,0.0

 'DAYS' columns containing +ve and -ve values. should all days counts are +ve.

In [8]:
prev_df_days = [col for col in prev_df.columns if col.startswith('DAYS')]  
prev_df[prev_df_days].head()

,DAYS_DECISION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION
0,-73,365243.0,-42.0,300.0,-42.0,-37.0
1,-164,365243.0,-134.0,916.0,365243.0,365243.0
2,-301,365243.0,-271.0,59.0,365243.0,365243.0
3,-512,365243.0,-482.0,-152.0,-182.0,-177.0
4,-781,NaN,NaN,NaN,NaN,NaN

convert the days to years

In [9]:
for col in curr_df_days:
    year_col = '_'.join(col.split('_')[1:])
    curr_df[f'YEARS_{year_col}'] = curr_df[col].abs() / 365.25

for col in prev_df_days:
    year_col = '_'.join(col.split('_')[1:])
    prev_df[f'YEARS_{year_col}'] = prev_df[col].abs() / 365.25

In [10]:
# Drop DAYS_ columns

curr_df.drop(columns=curr_df_days, inplace=True)
prev_df.drop(columns=prev_df_days, inplace=True)

In [11]:
curr_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,YEARS_BIRTH,YEARS_EMPLOYED,YEARS_REGISTRATION,YEARS_ID_PUBLISH,YEARS_LAST_PHONE_CHANGE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,25.902806,1.744011,9.987680,5.804244,3.104723
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,45.900068,3.252567,3.247091,0.796715,2.266940
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,52.145106,0.616016,11.663244,6.929500,2.231348
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,52.032854,8.320329,26.921287,6.672142,1.689254
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,54.570842,8.317591,11.802875,9.467488,3.028063

there is a relationship between missing at Own_car_age and the person Acually has a car or not

if the person has no can , so no Car age!, so the missing is means that the value is equals 0

In [12]:
curr_df.loc[curr_df['OWN_CAR_AGE'].isna()==True,['FLAG_OWN_CAR','OWN_CAR_AGE']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 202929 entries, 0 to 307510
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   FLAG_OWN_CAR  202929 non-null  object
 1   OWN_CAR_AGE   0 non-null       float64
dtypes: float64(1), object(1)
memory usage: 4.6+ MB

In [13]:
own_car_missing_index = curr_df.loc[(curr_df.FLAG_OWN_CAR=='Y') & (curr_df.OWN_CAR_AGE.isna()==True)].index
own_car_missing_index.shape

(5,)

In [14]:
curr_df['OWN_CAR_AGE'].fillna(0,inplace = True)

/tmp/ipykernel_1229/2161884589.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  curr_df['OWN_CAR_AGE'].fillna(0,inplace = True)

In [15]:
curr_df.to_csv('application_data_cleaned1.csv', index=False)
prev_df.to_csv('previous_application_cleaned1.csv', index=False)