In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns' , None)
pd.set_option('display.max_rows' , None)

In [13]:
df = pd.read_csv("merged_dataset.csv")
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_PREV,NAME_CONTRACT_TYPE_PREVIOUS,AMT_ANNUITY_PREVIOUS,AMT_APPLICATION,AMT_CREDIT_PREVIOUS,AMT_GOODS_PRICE_PREVIOUS,WEEKDAY_APPR_PROCESS_START_PREVIOUS,HOUR_APPR_PROCESS_START_PREVIOUS,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.262949,0.139376,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1038818,Consumer loans,9251.775,179055.0,179055.0,179055.0,SATURDAY,9,Y,1,XAP,Approved,-606,XNA,XAP,New,Vehicles,POS,XNA,Stone,500,Auto technology,24.0,low_normal,POS other with interest
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.622246,0.301625,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1810518,Cash loans,98356.995,900000.0,1035882.0,900000.0,FRIDAY,12,Y,1,XNA,Approved,-746,XNA,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,low_normal,Cash X-Sell: low
2,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.622246,0.301625,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2636178,Consumer loans,64567.665,337500.0,348637.5,337500.0,SUNDAY,17,Y,1,XAP,Approved,-828,Cash through the bank,XAP,Refreshed,Furniture,POS,XNA,Stone,1400,Furniture,6.0,middle,POS industry with interest
3,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.622246,0.301625,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2396755,Consumer loans,6737.310,68809.5,68053.5,68809.5,SATURDAY,15,Y,1,XAP,Approved,-2341,Cash through the bank,XAP,Refreshed,Consumer Electronics,POS,XNA,Country-wide,200,Consumer electronics,12.0,middle,POS household with interest
4,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,0.555912,0.729567,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1564014,Consumer loans,5357.250,24282.0,20106.0,24282.0,FRIDAY,5,Y,1,XAP,Approved,-815,Cash through the bank,XAP,New,Mobile,POS,XNA,Regional / Local,30,Connectivity,4.0,middle,POS mobile without interest

In [14]:
df.isna().sum() / len(df) * 100

SK_ID_CURR                             0.000000
TARGET                                 0.000000
NAME_CONTRACT_TYPE                     0.000000
CODE_GENDER                            0.000000
FLAG_OWN_CAR                           0.000000
FLAG_OWN_REALTY                        0.000000
CNT_CHILDREN                           0.000000
AMT_INCOME_TOTAL                       0.000000
AMT_CREDIT                             0.000000
AMT_ANNUITY                            0.000000
AMT_GOODS_PRICE                        0.000000
NAME_TYPE_SUITE                        0.000000
NAME_INCOME_TYPE                       0.000000
NAME_EDUCATION_TYPE                    0.000000
NAME_FAMILY_STATUS                     0.000000
NAME_HOUSING_TYPE                      0.000000
REGION_POPULATION_RELATIVE             0.000000
DAYS_BIRTH                             0.000000
DAYS_EMPLOYED                          0.000000
DAYS_REGISTRATION                      0.000000
DAYS_ID_PUBLISH                        0.000000
FLAG_MOBIL                             0.000000
FLAG_EMP_PHONE                         0.000000
FLAG_WORK_PHONE                        0.000000
FLAG_CONT_MOBILE                       0.000000
FLAG_PHONE                             0.000000
FLAG_EMAIL                             0.000000
OCCUPATION_TYPE                        0.000000
CNT_FAM_MEMBERS                        0.000000
REGION_RATING_CLIENT                   0.000000
REGION_RATING_CLIENT_W_CITY            0.000000
WEEKDAY_APPR_PROCESS_START             0.000000
HOUR_APPR_PROCESS_START                0.000000
REG_REGION_NOT_LIVE_REGION             0.000000
REG_REGION_NOT_WORK_REGION             0.000000
LIVE_REGION_NOT_WORK_REGION            0.000000
REG_CITY_NOT_LIVE_CITY                 0.000000
REG_CITY_NOT_WORK_CITY                 0.000000
LIVE_CITY_NOT_WORK_CITY                0.000000
ORGANIZATION_TYPE                      0.000000
EXT_SOURCE_2                           0.000000
EXT_SOURCE_3                           0.001288
OBS_30_CNT_SOCIAL_CIRCLE               0.000000
DEF_30_CNT_SOCIAL_CIRCLE               0.000000
OBS_60_CNT_SOCIAL_CIRCLE               0.000000
DEF_60_CNT_SOCIAL_CIRCLE               0.000000
DAYS_LAST_PHONE_CHANGE                 0.000000
FLAG_DOCUMENT_2                        0.000000
FLAG_DOCUMENT_3                        0.000000
FLAG_DOCUMENT_4                        0.000000
FLAG_DOCUMENT_5                        0.000000
FLAG_DOCUMENT_6                        0.000000
FLAG_DOCUMENT_7                        0.000000
FLAG_DOCUMENT_8                        0.000000
FLAG_DOCUMENT_9                        0.000000
FLAG_DOCUMENT_10                       0.000000
FLAG_DOCUMENT_11                       0.000000
FLAG_DOCUMENT_12                       0.000000
FLAG_DOCUMENT_13                       0.000000
FLAG_DOCUMENT_14                       0.000000
FLAG_DOCUMENT_15                       0.000000
FLAG_DOCUMENT_16                       0.000000
FLAG_DOCUMENT_17                       0.000000
FLAG_DOCUMENT_18                       0.000000
FLAG_DOCUMENT_19                       0.000000
FLAG_DOCUMENT_20                       0.000000
FLAG_DOCUMENT_21                       0.000000
AMT_REQ_CREDIT_BUREAU_HOUR             0.000000
AMT_REQ_CREDIT_BUREAU_DAY              0.000000
AMT_REQ_CREDIT_BUREAU_WEEK             0.000000
AMT_REQ_CREDIT_BUREAU_MON              0.000000
AMT_REQ_CREDIT_BUREAU_QRT              0.000000
AMT_REQ_CREDIT_BUREAU_YEAR             0.000000
SK_ID_PREV                             0.000000
NAME_CONTRACT_TYPE_PREVIOUS            0.000000
AMT_ANNUITY_PREVIOUS                   0.000000
AMT_APPLICATION                        0.000000
AMT_CREDIT_PREVIOUS                    0.000000
AMT_GOODS_PRICE_PREVIOUS               0.000000
WEEKDAY_APPR_PROCESS_START_PREVIOUS    0.000000
HOUR_APPR_PROCESS_START_PREVIOUS       0.000000
FLAG_LAST_APPL_PER_CONTRACT            0.000000
NFLAG_LAST_APPL_IN_DAY                 0.000000
NAME_CASH_LOAN_PURPOSE                 0.000000
NAME_CONTRACT_STATUS                   0.000000
DAYS_DECISION                          0.000000
NAME_PAYMENT_TYPE                      0.000000
CODE_REJECT_REASON                     0.000000
NAME_CLIENT_TYPE                       0.000000
NAME_GOODS_CATEGORY                    0.000000
NAME_PORTFOLIO                         0.000000
NAME_PRODUCT_TYPE                      0.000000
CHANNEL_TYPE                           0.000000
SELLERPLACE_AREA                       0.000000
NAME_SELLER_INDUSTRY                   0.000000
CNT_PAYMENT                            0.000000
NAME_YIELD_GROUP                       0.000000
PRODUCT_COMBINATION                    0.000000
dtype: float64

In [15]:
df.dtypes

SK_ID_CURR                               int64
TARGET                                   int64
NAME_CONTRACT_TYPE                      object
CODE_GENDER                             object
FLAG_OWN_CAR                            object
FLAG_OWN_REALTY                         object
CNT_CHILDREN                             int64
AMT_INCOME_TOTAL                       float64
AMT_CREDIT                             float64
AMT_ANNUITY                            float64
AMT_GOODS_PRICE                        float64
NAME_TYPE_SUITE                         object
NAME_INCOME_TYPE                        object
NAME_EDUCATION_TYPE                     object
NAME_FAMILY_STATUS                      object
NAME_HOUSING_TYPE                       object
REGION_POPULATION_RELATIVE             float64
DAYS_BIRTH                               int64
DAYS_EMPLOYED                            int64
DAYS_REGISTRATION                      float64
DAYS_ID_PUBLISH                          int64
FLAG_MOBIL                               int64
FLAG_EMP_PHONE                           int64
FLAG_WORK_PHONE                          int64
FLAG_CONT_MOBILE                         int64
FLAG_PHONE                               int64
FLAG_EMAIL                               int64
OCCUPATION_TYPE                         object
CNT_FAM_MEMBERS                        float64
REGION_RATING_CLIENT                     int64
REGION_RATING_CLIENT_W_CITY              int64
WEEKDAY_APPR_PROCESS_START              object
HOUR_APPR_PROCESS_START                  int64
REG_REGION_NOT_LIVE_REGION               int64
REG_REGION_NOT_WORK_REGION               int64
LIVE_REGION_NOT_WORK_REGION              int64
REG_CITY_NOT_LIVE_CITY                   int64
REG_CITY_NOT_WORK_CITY                   int64
LIVE_CITY_NOT_WORK_CITY                  int64
ORGANIZATION_TYPE                       object
EXT_SOURCE_2                           float64
EXT_SOURCE_3                           float64
OBS_30_CNT_SOCIAL_CIRCLE               float64
DEF_30_CNT_SOCIAL_CIRCLE               float64
OBS_60_CNT_SOCIAL_CIRCLE               float64
DEF_60_CNT_SOCIAL_CIRCLE               float64
DAYS_LAST_PHONE_CHANGE                 float64
FLAG_DOCUMENT_2                          int64
FLAG_DOCUMENT_3                          int64
FLAG_DOCUMENT_4                          int64
FLAG_DOCUMENT_5                          int64
FLAG_DOCUMENT_6                          int64
FLAG_DOCUMENT_7                          int64
FLAG_DOCUMENT_8                          int64
FLAG_DOCUMENT_9                          int64
FLAG_DOCUMENT_10                         int64
FLAG_DOCUMENT_11                         int64
FLAG_DOCUMENT_12                         int64
FLAG_DOCUMENT_13                         int64
FLAG_DOCUMENT_14                         int64
FLAG_DOCUMENT_15                         int64
FLAG_DOCUMENT_16                         int64
FLAG_DOCUMENT_17                         int64
FLAG_DOCUMENT_18                         int64
FLAG_DOCUMENT_19                         int64
FLAG_DOCUMENT_20                         int64
FLAG_DOCUMENT_21                         int64
AMT_REQ_CREDIT_BUREAU_HOUR             float64
AMT_REQ_CREDIT_BUREAU_DAY              float64
AMT_REQ_CREDIT_BUREAU_WEEK             float64
AMT_REQ_CREDIT_BUREAU_MON              float64
AMT_REQ_CREDIT_BUREAU_QRT              float64
AMT_REQ_CREDIT_BUREAU_YEAR             float64
SK_ID_PREV                               int64
NAME_CONTRACT_TYPE_PREVIOUS             object
AMT_ANNUITY_PREVIOUS                   float64
AMT_APPLICATION                        float64
AMT_CREDIT_PREVIOUS                    float64
AMT_GOODS_PRICE_PREVIOUS               float64
WEEKDAY_APPR_PROCESS_START_PREVIOUS     object
HOUR_APPR_PROCESS_START_PREVIOUS         int64
FLAG_LAST_APPL_PER_CONTRACT             object
NFLAG_LAST_APPL_IN_DAY                   int64
NAME_CASH_LOAN_PURPOSE                  object
NAME_CONTRACT_STATUS                    object
DAYS_DECISION                            int64
NAME_PAYMENT_TYPE                       object
CODE_REJECT_REASON                      object
NAME_CLIENT_TYPE                        object
NAME_GOODS_CATEGORY                     object
NAME_PORTFOLIO                          object
NAME_PRODUCT_TYPE                       object
CHANNEL_TYPE                            object
SELLERPLACE_AREA                         int64
NAME_SELLER_INDUSTRY                    object
CNT_PAYMENT                            float64
NAME_YIELD_GROUP                        object
PRODUCT_COMBINATION                     object
dtype: object

In [16]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(f"Unique Values for {col}:")
        print(df[col].unique())
        print("---------------------------------------------------------------")

Unique Values for NAME_CONTRACT_TYPE:
['Cash loans' 'Revolving loans']
---------------------------------------------------------------
Unique Values for CODE_GENDER:
['M' 'F' 'XNA']
---------------------------------------------------------------
Unique Values for FLAG_OWN_CAR:
['N' 'Y']
---------------------------------------------------------------
Unique Values for FLAG_OWN_REALTY:
['Y' 'N']
---------------------------------------------------------------
Unique Values for NAME_TYPE_SUITE:
['Unaccompanied' 'Family' 'Spouse, partner' 'Children' 'Other_A' 'Other_B'
 'Group of people']
---------------------------------------------------------------
Unique Values for NAME_INCOME_TYPE:
['Working' 'State servant' 'Commercial associate' 'Pensioner' 'Unemployed'
 'Student']
---------------------------------------------------------------
Unique Values for NAME_EDUCATION_TYPE:
['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
---------------------------------------------------------------
Unique Values for NAME_FAMILY_STATUS:
['Single / not married' 'Married' 'Widow' 'Civil marriage' 'Separated']
---------------------------------------------------------------
Unique Values for NAME_HOUSING_TYPE:
['House / apartment' 'Rented apartment' 'Municipal apartment'
 'With parents' 'Office apartment' 'Co-op apartment']
---------------------------------------------------------------
Unique Values for OCCUPATION_TYPE:
['Laborers' 'Core staff' 'Accountants' 'Managers' 'Drivers' 'Sales staff'
 'Cleaning staff' 'Private service staff' 'Medicine staff'
 'Security staff' 'Cooking staff' 'Waiters/barmen staff'
 'Low-skill Laborers' 'Realty agents' 'High skill tech staff'
 'Secretaries' 'HR staff' 'IT staff']
---------------------------------------------------------------
Unique Values for WEEKDAY_APPR_PROCESS_START:
['WEDNESDAY' 'MONDAY' 'THURSDAY' 'SUNDAY' 'SATURDAY' 'FRIDAY' 'TUESDAY']
---------------------------------------------------------------
Unique Values for ORGANIZATION_TYPE:
['Business Entity Type 3' 'School' 'Government' 'Religion' 'Other' 'XNA'
 'Medicine' 'Business Entity Type 2' 'Self-employed' 'Housing'
 'Kindergarten' 'Trade: type 7' 'Industry: type 11' 'Military' 'Services'
 'Transport: type 4' 'Industry: type 1' 'Emergency' 'Security'
 'Trade: type 2' 'University' 'Police' 'Construction'
 'Business Entity Type 1' 'Postal' 'Industry: type 4' 'Agriculture'
 'Restaurant' 'Transport: type 2' 'Culture' 'Hotel' 'Industry: type 7'
 'Industry: type 3' 'Bank' 'Trade: type 3' 'Industry: type 9'
 'Trade: type 6' 'Industry: type 2' 'Transport: type 1'
 'Transport: type 3' 'Industry: type 12' 'Security Ministries' 'Insurance'
 'Mobile' 'Trade: type 1' 'Electricity' 'Industry: type 5'
 'Industry: type 10' 'Legal Services' 'Advertising' 'Trade: type 5'
 'Cleaning' 'Industry: type 13' 'Industry: type 8' 'Realtor' 'Telecom'
 'Industry: type 6' 'Trade: type 4']
---------------------------------------------------------------
Unique Values for NAME_CONTRACT_TYPE_PREVIOUS:
['Consumer loans' 'Cash loans' 'Revolving loans']
---------------------------------------------------------------
Unique Values for WEEKDAY_APPR_PROCESS_START_PREVIOUS:
['SATURDAY' 'FRIDAY' 'SUNDAY' 'MONDAY' 'THURSDAY' 'WEDNESDAY' 'TUESDAY']
---------------------------------------------------------------
Unique Values for FLAG_LAST_APPL_PER_CONTRACT:
['Y' 'N']
---------------------------------------------------------------
Unique Values for NAME_CASH_LOAN_PURPOSE:
['XAP' 'XNA' 'Payments on other loans' 'Buying a used car' 'Repairs'
 'Other' 'Buying a new car' 'Everyday expenses' 'Medicine' 'Car repairs'
 'Urgent needs' 'Buying a holiday home / land'
 'Building a house or an annex' 'Furniture' 'Journey'
 'Purchase of electronic equipment' 'Wedding / gift / holiday' 'Education'
 'Buying a home' 'Business development' 'Gasification / water supply'
 'Buying a garage' 'Hobby' 'Money for a third person'
 'Refusal to name the goal']
---------------------------------------------------------------
Unique Values for NAME_CONTRACT_STATUS:
['Approved' 'Canceled' 'Refused' 'Unused offer']
---------------------------------------------------------------
Unique Values for NAME_PAYMENT_TYPE:
['XNA' 'Cash through the bank' 'Non-cash from your account'
 'Cashless from the account of the employer']
---------------------------------------------------------------
Unique Values for CODE_REJECT_REASON:
['XAP' 'LIMIT' 'HC' 'SCO' 'VERIF' 'CLIENT' 'SCOFR' 'XNA' 'SYSTEM']
---------------------------------------------------------------
Unique Values for NAME_CLIENT_TYPE:
['New' 'Repeater' 'Refreshed' 'XNA']
---------------------------------------------------------------
Unique Values for NAME_GOODS_CATEGORY:
['Vehicles' 'XNA' 'Furniture' 'Consumer Electronics' 'Mobile'
 'Audio/Video' 'Gardening' 'Photo / Cinema Equipment' 'Computers'
 'Clothing and Accessories' 'Homewares' 'Construction Materials'
 'Medical Supplies' 'Other' 'Jewelry' 'Office Appliances' 'Tourism'
 'Auto Accessories' 'Sport and Leisure' 'Medicine' 'Weapon' 'Direct Sales'
 'Fitness' 'Insurance' 'Education' 'Additional Service' 'Animals']
---------------------------------------------------------------
Unique Values for NAME_PORTFOLIO:
['POS' 'Cash' 'XNA' 'Cards' 'Cars']
---------------------------------------------------------------
Unique Values for NAME_PRODUCT_TYPE:
['XNA' 'x-sell' 'walk-in']
---------------------------------------------------------------
Unique Values for CHANNEL_TYPE:
['Stone' 'Credit and cash offices' 'Country-wide' 'Regional / Local'
 'AP+ (Cash loan)' 'Contact center' 'Channel of corporate sales'
 'Car dealer']
---------------------------------------------------------------
Unique Values for NAME_SELLER_INDUSTRY:
['Auto technology' 'XNA' 'Furniture' 'Consumer electronics' 'Connectivity'
 'Clothing' 'Industry' 'Construction' 'Tourism' 'Jewelry' 'MLM partners']
---------------------------------------------------------------
Unique Values for NAME_YIELD_GROUP:
['low_normal' 'middle' 'high' 'XNA' 'low_action']
---------------------------------------------------------------
Unique Values for PRODUCT_COMBINATION:
['POS other with interest' 'Cash X-Sell: low' 'POS industry with interest'
 'POS household with interest' 'POS mobile without interest'
 'Cash Street: high' 'Cash X-Sell: middle' 'POS mobile with interest'
 'Cash' 'POS household without interest' 'POS industry without interest'
 'Card X-Sell' 'Cash Street: low' 'Cash X-Sell: high' 'Card Street'
 'Cash Street: middle' 'POS others without interest']
---------------------------------------------------------------

In [17]:
df.shape

(1242311, 98)

In [18]:
for col in df.columns:
    if df[col].dtype == 'float64':
        print(f"Unique Values for {col}:")
        print(df[col].unique())
        print("---------------------------------------------------------------")

Unique Values for AMT_INCOME_TOTAL:
[202500.  270000.   67500.  ... 936000.   96768.  113062.5]
---------------------------------------------------------------
Unique Values for AMT_CREDIT:
[ 406597.5 1293502.5  135000.  ... 1149408.   743863.5 1391130. ]
---------------------------------------------------------------
Unique Values for AMT_ANNUITY:
[24700.5 35698.5  6750.  ... 59544.  58770.  77809.5]
---------------------------------------------------------------
Unique Values for AMT_GOODS_PRICE:
[ 351000.  1129500.   135000.   513000.   454500.  1395000.  1530000.
  913500.   652500.    67500.   697500.   247500.   387000.   157500.
  927000.   450000.   225000.   270000.   675000.   477000.   360000.
  180000.   679500.   553500.   540000.   855000.   238500.   252000.
 1350000.   666000.   202500.   517500.  1588500.  1080000.   810000.
   90000.   900000.  1035000.   463500.   459000.  1125000.   256500.
  585000.   643500.   472500.   337500.   720000.   315000.   396000.
 1089000.   319500.  1435500.   688500.   261000.   468000.   198000.
  445500.   144000.   166500.   967500.   945000.  1755000.  1354500.
  306000.   427500.   297000.   148500.   531000.   112500.   765000.
 2250000.   909000.   630000.  1102500.   405000.   787500.   607500.
  522000.  1575000.  1215000.   369000.  1305000.   747000.   292500.
 1201500.   324000.  1071000.   495000.   333000.  1138500.  1800000.
 1143000.  1008000.  1237500.   414000.   904500.    81000.  1039500.
  103500.   877500.   562500.   139500.   346500.   693000.  1345500.
  328500.   634500.   832500.   783000.   922500.   117000.   382500.
  936000.   130500.  1012500.   508500.  1183500.  1053000.   778500.
  441000.   391500.   526500.   400500.   283500.   670500.   279000.
  828000.  1219500.   409500.   760500.   490500.   657000.    45000.
  229500.   805500.  1017000.   265500.   702000.   963000.   792000.
  603000.  1098000.   549000.  1327500.  1282500.   558000.    94500.
  972000.   990000.   184500.  1323000.   481500.  1260000.   436500.
  576000.  1210500.   544500.  1003500.   193500.   886500.   567000.
  958500.   859500.   684000.  1165500.   432000.   931500.   171000.
  153000.  1467000.   729000.  1057500.   211500.   583569.   616500.
  288000.   342000.   742500.   243000.   751500.    72000.   918000.
  738000.   355500.   373500.   310500.  1116000.  1206000.   661500.
 2254500.   301500.   639000.   274500.   864000.  1170000.  1156500.
  126000.  1093500.   234000.   621000.   823500.   364500.   486000.
  940500.  1930500.  1453500.  1696500.   121500.   571500.  1341000.
  850500.  1075500.  1710000.   706500.   598500.   724500.   594000.
  418500.   412227.   846000.  1269000.  1705500.   423000.   189000.
  715500.   589500.   873000.   580500.   162000.   733500.   756000.
   58500.   837000.   774000.  2160000.  1107000.  1287000.   801000.
 1665000.  1399500.   625500.  1485000.   381411.   378000.   949500.
  648000.    54000.    76500.  1192500.   946980.   868500.  1377000.
 1381500.   391009.5   99000.   504000.   207000.   796500.  1152000.
  976500.   985500.  1440000.  1147500.  1372500.  1026000.   535500.
  612000.   503266.5  220500.  1242000.  1498500.   814500.  1359000.
 2245500.  1642500.  1228500.   954000.  1845000.  1602000.   108000.
 1417500.  1620000.   175500.  1044000.  1273500.   999000.   981000.
  216000.   769500.  2236500.  1161000.  1062000.   492547.5 1570500.
   63000.  1363500.   895500.    85500.  1030500.  1120500.  1561500.
  994500.  1777500.  2205000.  1386000.   323694.  1174500.  1476000.
 1318500.  1179000.  1552500.  1314000.  1048500.  1084500.   711000.
 1111500.   499500.   528183.   463279.5 1291500.  1507500.  1368000.
 1188000.  1606500.  1066500.   819000.   841500.  1264500.  1413000.
  494496.  1548000.  1512000.  1233000.  1134000.  1296000.   891000.
   49500.  1458000.  1579500.  1822500.  1197000.  1309500.   508900.5
 1444500.  1246500.  1813500.   882000.  1332000.  2002500.  1746000.
  456480.   430672.5 2025000.  1390500.  1336500.  1611000.   426042.
  414981.  1768500.  1584000.  3825000.   796603.5 1021500.  1300500.
 2475000.  1251000.   470511.  1278000.  1471500.  1773000.  1638000.
 1462500.  1426500.   471951.   478795.5 1656000.  1256103.  1849500.
  264312.   862353.   378598.5 1687500.  1890000.  1422000.  1597500.
 2182500.  1647000.  1534500.   885429.  1669500.   737784.   502893.
  420390.   366516.  1737000.   232690.5  619150.5 1557000.  1750500.
 1539000.   149719.5 1480500.   354645.  1224000.  1593000.  1651500.
  676278.  1516500.  1449000.  1795500.  1764000.  1439248.5 1404000.
  630400.5 1494000.   300838.5  592533.   728473.5 1629000.  1831500.
 1521000.   828895.5 2115000.   452565.  1732500.   836154.  1984500.
 1980000.  1566000.  1255500.   193135.5  196285.5 1786500.   353749.5
 1818000.  1957500.  1894500.  2187000.  1791000.  1728000.   912802.5
  244435.5  518485.5  567544.5  857538.  2007000.  1525500.  1144606.5
  259312.5  644724.   737860.5 1714500.  1431000.   437476.5  504319.5
 1489500.  2700000.   554332.5 1503000.  1939500.   467874.   241024.5
 1935000.  2218500.   409986.  2052000.   316372.5  458806.5  983713.5
  216630.  1683000.   642915.   905287.5 2092500.    60070.5  812983.5
 1719000.  1220022.   186390.   827100.  1953000.   900090.   370219.5
 2047500.   289539.   857655.   676089.  1543500.   571725.  1741500.
  331245.  1782000.  1908000.  2196000.   822519.   333630.  1273680.
 1903500.   843093.  1759500.   499563.  1067553.  2133000.   601389.
  653350.5  660244.5 1615500.   444010.5  237208.5 1678500.  1827000.
  674640.   705361.5  388660.5  369256.5  553999.5  862893.   646330.5
 1854000.   464463.   378189.   308475.   161658.   584820.   436801.5
 2038500.  1388862.   592452.  1723500.   448546.5  362632.5 3150000.
  894654.  1989000.    67392.  2106000.  1674000.  1962000.   387675.
  810778.5 1660500.  2223000.  1265751.   853195.5  218232.  1199308.5
 1180273.5  766813.5 2137500.   581184.   546021.   296671.5 1061307.
  535774.5  269379.   584842.5 1408500.   853821.   280026.  1481535.
 1912500.   702301.5 3555000.  1917000.   428994.   288787.5  685336.5
  635085.   599787.   970006.5 2070000.   277947.   275760.   246487.5
  486085.5 2169000.   242626.5  762246.   475686.   312790.5  612238.5
 1867500.   465925.5 2119500.   482530.5  627754.5 1809000.   476284.5
  933174.   445603.5 1624500.   734976.  4050000.   855175.5  808245.
  552595.5  443421.  1639431.   694152.  1804500.  2074500.   246483.
  263965.5  427468.5  388674.   281380.5 1677942.   596488.5  545251.5
  303696.  1966500.   455445.   387409.5 1015519.5  635760.  1633500.
  262804.5  635652.   828558.   569097.   659380.5 1307092.5  121945.5
  483858.  1125112.5 2272500.  1692000.  1458859.5  606451.5  241704.
 1064326.5 1200136.5  793296.   584325.   967540.5  852574.5  400887.
  462406.5  284985.  2200500.  1152477.   389623.5  245947.5  472720.5
  356598.  1921500.   618903.   570321.   885523.5  498856.5  886770.
  484155.  1147711.5 2232306.   843858.   852975.   585616.5 2124000.
 1993500.   679981.5  885154.5 1290766.5  372712.5  280894.5  675981.
  933763.5  659259.   705892.5  793057.5  379867.5  418828.5 1199371.5
 1474663.5  275553.  1244515.5  324819.  2101500.  1840500.   682609.5
  441733.5  675382.5  507618.   494208.   461367.   353641.5 1971000.
  665271.   140287.5  654592.5  658246.5  295776.  1496893.5  381528.
  357133.5  379012.5  393799.5  350500.5  801270.  2011500.  2034000.
  405225.  2151000.   900243.  1944000.  1130125.5 1996456.5  285727.5
  250398.   199633.5 2146500.   859842.   421213.5   84028.5  744988.5
 1415259.   225243.  1723666.5  577206.   413910.   478134.   933493.5
  794070.   938497.5  523048.5  211536.   772600.5  832878.   660937.5
 2191500.   760986.   863149.5  982435.5 2065500.   869715.   655704.
  394101.  1701000.  2142000.   594558.   418473.   912505.5  598887.
  947884.5  566730.   354015.   736888.5  323604.   828216.    50751.
  810022.5  644962.5  410274.   858762.   205533.  1058976.   537700.5
  466083.   552384.   969241.5  383035.5  137142.   778801.5  872739.
  638302.5 1039315.5  233928.   620424.   314946.   891418.5  607603.5
  141354.   584995.5  942201.  3375000.   559836.   113724.  2155500.
 1305706.5  503559.   718110.   346099.5  458028.  1948500.   917365.5
  556794.   178344.   473845.5 3060000.  2061000.   780597.   955003.5
  997281.   159066.  1805922.   285844.5  635008.5  742540.5   40500.
  607608.   991476.   314968.5  448731.   384772.5 1259671.5  766444.5
  264600.   453465.   743863.5]
---------------------------------------------------------------
Unique Values for REGION_POPULATION_RELATIVE:
[0.018801 0.003541 0.010032 0.028663 0.035792 0.003122 0.018634 0.0228
 0.015221 0.031329 0.016612 0.020713 0.04622  0.025164 0.006296 0.026392
 0.019101 0.008575 0.01885  0.030755 0.006207 0.009175 0.007305 0.010966
 0.019689 0.022625 0.006629 0.010006 0.00733  0.032561 0.00496  0.072508
 0.009657 0.02461  0.003069 0.008019 0.018209 0.020246 0.009549 0.007274
 0.010276 0.003813 0.01452  0.003818 0.00712  0.0105   0.010147 0.010643
 0.008866 0.018029 0.00702  0.002506 0.009334 0.007114 0.005313 0.006233
 0.008474 0.005144 0.011657 0.008625 0.014464 0.00963  0.006008 0.005002
 0.006852 0.011703 0.006305 0.010556 0.00823  0.006671 0.002042 0.005084
 0.008068 0.004849 0.001333 0.001417 0.001276 0.002134 0.000938 0.000533
 0.00029 ]
---------------------------------------------------------------
Unique Values for DAYS_REGISTRATION:
[ -3648.  -1186.  -4260. ... -15953. -14558. -13564.]
---------------------------------------------------------------
Unique Values for CNT_FAM_MEMBERS:
[ 1.  2.  3.  4.  5.  6.  9.  7.  8. 10. 13. 14. 12. 20. 15. 16. 11.]
---------------------------------------------------------------
Unique Values for EXT_SOURCE_2:
[0.26294859 0.62224578 0.55591208 ... 0.30708249 0.42468253 0.2678342 ]
---------------------------------------------------------------
Unique Values for EXT_SOURCE_3:
[0.13937578 0.30162489 0.72956669 ... 0.59096057 0.47967176 0.47767282]
---------------------------------------------------------------
Unique Values for OBS_30_CNT_SOCIAL_CIRCLE:
[  2.   1.   0.   8.   4.   7.   3.   6.   5.  10.  13.  12.  11.  14.
   9.  22.  16.  15.  17.  20.  25.  19.  18.  21.  24.  23.  28.  26.
  29.  27.  47. 348.  30.]
---------------------------------------------------------------
Unique Values for DEF_30_CNT_SOCIAL_CIRCLE:
[ 2.  0.  1.  3.  5.  4.  7. 34.  6.  8.]
---------------------------------------------------------------
Unique Values for OBS_60_CNT_SOCIAL_CIRCLE:
[  2.   1.   0.   8.   4.   7.   3.   6.   5.  10.  13.  12.  11.  14.
   9.  21.  15.  22.  16.  20.  25.  17.  19.  18.  24.  23.  28.  29.
  27.  47. 344.  30.  26.]
---------------------------------------------------------------
Unique Values for DEF_60_CNT_SOCIAL_CIRCLE:
[ 2.  0.  1.  3.  5.  4.  7. 24.  6.]
---------------------------------------------------------------
Unique Values for DAYS_LAST_PHONE_CHANGE:
[-1134.  -828.  -815. ... -3988. -3899. -3538.]
---------------------------------------------------------------
Unique Values for AMT_REQ_CREDIT_BUREAU_HOUR:
[0. 1. 2. 3. 4.]
---------------------------------------------------------------
Unique Values for AMT_REQ_CREDIT_BUREAU_DAY:
[0. 1. 3. 2. 4. 5. 6. 9.]
---------------------------------------------------------------
Unique Values for AMT_REQ_CREDIT_BUREAU_WEEK:
[0. 1. 3. 2. 4. 5. 6. 8. 7.]
---------------------------------------------------------------
Unique Values for AMT_REQ_CREDIT_BUREAU_MON:
[ 0.  1.  2.  5.  3.  7.  9.  4. 11.  8.  6. 16. 12. 14. 10. 13. 17. 24.
 19. 15. 23. 18. 27. 22.]
---------------------------------------------------------------
Unique Values for AMT_REQ_CREDIT_BUREAU_QRT:
[  0.   1.   2.   4.   3.   8.   5.   6.   7. 261.]
---------------------------------------------------------------
Unique Values for AMT_REQ_CREDIT_BUREAU_YEAR:
[ 1.  0.  2.  4.  5.  3.  8.  6.  9.  7. 10. 11. 13. 16. 12. 25. 23. 15.
 14. 22. 17. 19. 18. 21. 20.]
---------------------------------------------------------------
Unique Values for AMT_ANNUITY_PREVIOUS:
[ 9251.775 98356.995 64567.665 ... 11090.835 11314.17  11514.555]
---------------------------------------------------------------
Unique Values for AMT_APPLICATION:
[179055.    900000.    337500.    ... 233698.14  106272.495 293256.225]
---------------------------------------------------------------
Unique Values for AMT_CREDIT_PREVIOUS:
[ 179055.    1035882.     348637.5   ...  339394.725  472455.
  426406.5  ]
---------------------------------------------------------------
Unique Values for AMT_GOODS_PRICE_PREVIOUS:
[179055.    900000.    337500.    ... 233698.14  106272.495 293256.225]
---------------------------------------------------------------
Unique Values for CNT_PAYMENT:
[24. 12.  6.  4. 18. 48. 10. 30.  0.  8. 16. 36.  5. 60. 42. 14. 20.  3.
 15. 72. 54.  7.  9. 11. 22. 17. 13. 59. 53. 40. 23. 26. 28. 32. 34. 38.
 19. 35. 29. 66. 33. 39. 44. 84. 21. 47. 41. 45.]
---------------------------------------------------------------

### Categories are consistent

In [19]:
df.duplicated().sum() / len(df) * 100

np.float64(0.0)

### No duplicates found